In [1]:
# importing libraries
import torch
from torch import nn
import pandas as pd
import numpy as np

In [2]:
device = 'cuda' if torch.cuda.is_available() else 'cpu'
print(f"A {device} device was detected")

A cpu device was detected

In [3]:
#loading our training data
data = r"D:\ML Project\trainingData.csv"
trainingData = pd.read_csv(data)
trainingData.head(10)

,id,Gender,Age,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,28,0,> 2 Years,Yes,40454,26,217,1
1,2,Male,76,3,0,1-2 Year,No,33536,26,183,0
2,3,Male,47,28,0,> 2 Years,Yes,38294,26,27,1
3,4,Male,21,11,1,< 1 Year,No,28619,152,203,0
4,5,Female,29,41,1,< 1 Year,No,27496,152,39,0
5,6,Female,24,33,0,< 1 Year,Yes,2630,160,176,0
6,7,Male,23,11,0,< 1 Year,Yes,23367,152,249,0
7,8,Female,56,28,0,1-2 Year,Yes,32031,26,72,1
8,9,Female,24,3,1,< 1 Year,No,27619,152,28,0
9,10,Female,32,6,1,< 1 Year,No,28771,152,80,0

In [4]:
#loading our testing data
data = r"D:\ML Project\testingData.csv"
testingData = pd.read_csv(data)
testingData.head(10)

,id,Gender,Age,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,501,Male,23,21,0,< 1 Year,Yes,33870,152,258,0
1,502,Female,31,15,1,< 1 Year,No,33444,152,233,0
2,503,Female,31,15,1,< 1 Year,No,40315,152,103,0
3,504,Female,51,28,0,1-2 Year,Yes,39214,26,15,0
4,505,Female,23,37,1,< 1 Year,No,41919,152,288,0
5,506,Male,37,28,0,1-2 Year,Yes,42207,124,135,1
6,507,Female,25,28,0,< 1 Year,Yes,92716,152,247,0
7,508,Female,25,28,1,< 1 Year,No,74371,152,295,0
8,509,Female,22,28,1,< 1 Year,No,58936,152,274,0
9,510,Female,31,18,1,< 1 Year,No,44945,152,201,0

In [5]:
testingData.shape

(500, 11)

In [6]:
# data preprocessing
def data_prep(df):

    df= df.drop(columns=['id','Policy_Sales_Channel','Vintage'])

    df=pd.get_dummies(df,columns=['Gender'] ,prefix='Gender')

    df=pd.get_dummies(df,columns=['Vehicle_Damage'] ,prefix='Damage')

    df=pd.get_dummies(df,columns=['Previously_Insured'] ,prefix='prev_insured')

    df["Age"] = pd.cut(df['Age'], bins=[0, 29, 35, 50, 100])

    df['Age']= df['Age'].cat.codes

    df['Annual_Premium'] = pd.cut(df['Annual_Premium'], bins=[0, 30000, 35000,40000, 45000, 50000, np.inf])

    df['Annual_Premium']= df['Annual_Premium'].cat.codes

    df['Vehicle_Age'] =df['Vehicle_Age'].map({'< 1 Year': 0, '1-2 Year': 1, '> 2 Years': 2})

    df.drop(columns=['Region_Code'],inplace= True)

    return df
# for training data
trainingData = data_prep(trainingData)

# for testing data
testingData = data_prep(testingData)

In [7]:
trainingData.head()

,Age,Vehicle_Age,Annual_Premium,Response,Gender_Female,Gender_Male,Damage_No,Damage_Yes,prev_insured_0,prev_insured_1
0,2,2,3,1,0,1,0,1,1,0
1,3,1,1,0,0,1,1,0,1,0
2,2,2,2,1,0,1,0,1,1,0
3,0,0,0,0,0,1,1,0,0,1
4,0,0,0,0,1,0,1,0,0,1

In [8]:
# Create our PyTorch tensors and move to CPU or GPU if available
# Extract the training data inputs and create a PyTorch tensor x (inputs)

inputs= ['Age','Vehicle_Age','Annual_Premium',"Gender_Female","Gender_Male","Damage_No","Damage_Yes","prev_insured_0", "prev_insured_1"]
x_train = torch.tensor(trainingData[inputs].values,dtype=torch.float, device=device)

# Extract the training dataoutputs and create a PyTorch tensor y (outputs)
outputs = ['Response']
y_train = torch.tensor(trainingData[outputs].values,dtype=torch.float, device=device)

In [9]:
# Create our PyTorch tensors and move to CPU or GPU if available
# Extract the testing data inputs and create a PyTorch tensor x (inputs)

inputs= ['Age','Vehicle_Age','Annual_Premium',"Gender_Female","Gender_Male","Damage_No","Damage_Yes","prev_insured_0", "prev_insured_1"]
x_test = torch.tensor(testingData[inputs].values,dtype=torch.float, device=device)

# Extract the training dataoutputs and create a PyTorch tensor y (outputs)
outputs = ['Response']
y_test = torch.tensor(testingData[outputs].values,dtype=torch.float, device=device)

In [10]:
# Building a neural network
# Number of inputs = 9
# Number of Hidden Units = 1
# Number of Hidden Layers = 100
# Activation Function = Relu
# Number of utputs = 1

predictor = nn.Sequential(nn.Linear(9, 100),
                         nn.ReLU(),
                         nn.Linear(100,1))
predictor.to(device)

Sequential(
  (0): Linear(in_features=9, out_features=100, bias=True)
  (1): ReLU()
  (2): Linear(in_features=100, out_features=1, bias=True)
)

In [11]:
# Training my Neural Network
import torch.optim as optim

# Using Binary Cross Entropy(BCE) as loss function
criterion = torch.nn.BCELoss()

# using a Stochastic Gradient descent SGD optimizer
optimizer = optim.SGD(predictor.parameters(), lr = 0.01 , momentum = 0.9)

#  Training my model using the training dataset 5 times
for epoch in range(200):
    totalLoss = 0
    for i in range(len(x_train)):
        y_pred = torch.sigmoid(predictor(x_train[i]))
        
        # measuring howgood the model predicted the output
        
        loss = criterion(y_pred, y_train[i])
        
        # tracking how well the model predicted
        totalLoss += loss.item()
        
        # updating the neural network
        optimizer.zero_grad()
        loss.backward()
        optimizer.step()
    # printing the loss after each iteration
    print(f"Total Loss after {epoch+1} iterations : {totalLoss}")

Total Loss after 1 iterations : 172.36357641123323
Total Loss after 2 iterations : 148.6466912131291
Total Loss after 3 iterations : 143.5382021296973
Total Loss after 4 iterations : 142.06741188946035
Total Loss after 5 iterations : 139.8206727969664
Total Loss after 6 iterations : 139.76872806248502
Total Loss after 7 iterations : 138.3432168588215
Total Loss after 8 iterations : 141.89229786992473
Total Loss after 9 iterations : 140.35288378296173
Total Loss after 10 iterations : 138.8067183411472
Total Loss after 11 iterations : 137.70072215392588
Total Loss after 12 iterations : 137.89586795376044
Total Loss after 13 iterations : 139.38191836054057
Total Loss after 14 iterations : 137.13312046038413
Total Loss after 15 iterations : 138.78294276428892
Total Loss after 16 iterations : 137.44412447813397
Total Loss after 17 iterations : 138.15398276354222
Total Loss after 18 iterations : 136.91887891040403
Total Loss after 19 iterations : 138.15798601215113
Total Loss after 20 iterations : 136.69920238795657
Total Loss after 21 iterations : 136.66215219984593
Total Loss after 22 iterations : 136.71601523901015
Total Loss after 23 iterations : 135.27386801477283
Total Loss after 24 iterations : 135.5919708906628
Total Loss after 25 iterations : 135.6603625210355
Total Loss after 26 iterations : 136.37749786869568
Total Loss after 27 iterations : 135.5296081514225
Total Loss after 28 iterations : 135.31872830559092
Total Loss after 29 iterations : 135.2791071671739
Total Loss after 30 iterations : 135.9083407027104
Total Loss after 31 iterations : 136.61000908505014
Total Loss after 32 iterations : 134.0859758549691
Total Loss after 33 iterations : 136.2774412299909
Total Loss after 34 iterations : 134.3314333182935
Total Loss after 35 iterations : 135.01607051617842
Total Loss after 36 iterations : 134.35007790079885
Total Loss after 37 iterations : 134.74689221760156
Total Loss after 38 iterations : 134.45297654305574
Total Loss after 39 iterations : 134.12528922727586
Total Loss after 40 iterations : 135.22547276884404
Total Loss after 41 iterations : 135.84778049745717
Total Loss after 42 iterations : 136.18021037822575
Total Loss after 43 iterations : 136.95032528993806
Total Loss after 44 iterations : 135.04714028775987
Total Loss after 45 iterations : 134.56885772801232
Total Loss after 46 iterations : 133.76630859639494
Total Loss after 47 iterations : 133.55707269010696
Total Loss after 48 iterations : 134.49343842158265
Total Loss after 49 iterations : 133.64321200841982
Total Loss after 50 iterations : 135.08578441505955
Total Loss after 51 iterations : 135.0318374362364
Total Loss after 52 iterations : 133.2839173116472
Total Loss after 53 iterations : 134.58236767508643
Total Loss after 54 iterations : 133.6702750009419
Total Loss after 55 iterations : 135.87100744723028
Total Loss after 56 iterations : 133.84090568451626
Total Loss after 57 iterations : 134.5664129612095
Total Loss after 58 iterations : 134.61181564131095
Total Loss after 59 iterations : 135.5677240282327
Total Loss after 60 iterations : 133.5218892199177
Total Loss after 61 iterations : 132.9133216293992
Total Loss after 62 iterations : 133.26559244112912
Total Loss after 63 iterations : 134.24548667133428
Total Loss after 64 iterations : 133.07725428106022
Total Loss after 65 iterations : 136.62436569622514
Total Loss after 66 iterations : 133.58699274080806
Total Loss after 67 iterations : 133.73428321599866
Total Loss after 68 iterations : 133.43328398143123
Total Loss after 69 iterations : 133.61573066317294
Total Loss after 70 iterations : 133.801266593357
Total Loss after 71 iterations : 133.4371956807093
Total Loss after 72 iterations : 133.09283211636125
Total Loss after 73 iterations : 134.60008737633152
Total Loss after 74 iterations : 132.80561483401416
Total Loss after 75 iterations : 133.5373028508299
Total Loss after 76 iterations : 132.95997157004967
Total Loss after 77 iterations : 134.01097095399786
Total Loss after 78 iterations : 131.71802833889768
Total Loss after 79 iterations : 133.02926826910178
Total Loss after 80 iterations : 132.6002832986928
Total Loss after 81 iterations : 132.4001029880921
Total Loss after 82 iterations : 132.75430546183358
Total Loss after 83 iterations : 132.19534215313945
Total Loss after 84 iterations : 132.8131039028064
Total Loss after 85 iterations : 133.58664510743532
Total Loss after 86 iterations : 133.9638762308344
Total Loss after 87 iterations : 131.96414966492947
Total Loss after 88 iterations : 134.65185092099608
Total Loss after 89 iterations : 132.88147351755748
Total Loss after 90 iterations : 132.98710441229133
Total Loss after 91 iterations : 133.16713021123692
Total Loss after 92 iterations : 133.00666734057555
Total Loss after 93 iterations : 132.59701493870358
Total Loss after 94 iterations : 133.91643314802985
Total Loss after 95 iterations : 132.89218815041693
Total Loss after 96 iterations : 133.13504360428954
Total Loss after 97 iterations : 133.25020921604946
Total Loss after 98 iterations : 132.734363521028
Total Loss after 99 iterations : 132.617307852492
Total Loss after 100 iterations : 132.35894970952964
Total Loss after 101 iterations : 133.12671624536029
Total Loss after 102 iterations : 132.52022427858907
Total Loss after 103 iterations : 133.10624830503232
Total Loss after 104 iterations : 132.45541148257314
Total Loss after 105 iterations : 131.98052935420418
Total Loss after 106 iterations : 132.38395575371896
Total Loss after 107 iterations : 133.5100079847174
Total Loss after 108 iterations : 132.08320437398484
Total Loss after 109 iterations : 134.33786566721716
Total Loss after 110 iterations : 132.30793881256653
Total Loss after 111 iterations : 133.03399184000847
Total Loss after 112 iterations : 132.50330732423305
Total Loss after 113 iterations : 131.5319703528158
Total Loss after 114 iterations : 133.23198894749578
Total Loss after 115 iterations : 133.23528768200518
Total Loss after 116 iterations : 133.17250714134224
Total Loss after 117 iterations : 131.4650249554574
Total Loss after 118 iterations : 132.2624520180275
Total Loss after 119 iterations : 134.20905720798072
Total Loss after 120 iterations : 132.6977437949289
Total Loss after 121 iterations : 132.23658461667497
Total Loss after 122 iterations : 131.81525688386134
Total Loss after 123 iterations : 131.77036601662005
Total Loss after 124 iterations : 132.045136450646
Total Loss after 125 iterations : 132.96630113049127
Total Loss after 126 iterations : 133.3892115747189
Total Loss after 127 iterations : 132.38836623699962
Total Loss after 128 iterations : 131.13938586791988
Total Loss after 129 iterations : 131.53611121527106
Total Loss after 130 iterations : 132.74423207590684
Total Loss after 131 iterations : 131.75535052070472
Total Loss after 132 iterations : 132.95933547842617
Total Loss after 133 iterations : 132.13815181045766
Total Loss after 134 iterations : 132.3193208127588
Total Loss after 135 iterations : 130.80086892200598
Total Loss after 136 iterations : 132.01779775236741
Total Loss after 137 iterations : 130.34982985490322
Total Loss after 138 iterations : 131.672163912671
Total Loss after 139 iterations : 131.50534569097135
Total Loss after 140 iterations : 131.19492547048418
Total Loss after 141 iterations : 132.1959841138779
Total Loss after 142 iterations : 131.26129669057167
Total Loss after 143 iterations : 131.73959490122246
Total Loss after 144 iterations : 130.47764608219433
Total Loss after 145 iterations : 131.82859241167296
Total Loss after 146 iterations : 131.8096586756851
Total Loss after 147 iterations : 131.36376533200752
Total Loss after 148 iterations : 132.26891972599736
Total Loss after 149 iterations : 131.46011120615032
Total Loss after 150 iterations : 132.1336303711272
Total Loss after 151 iterations : 131.20654258567936
Total Loss after 152 iterations : 131.14255543974195
Total Loss after 153 iterations : 132.27324556866324
Total Loss after 154 iterations : 132.17300071631325
Total Loss after 155 iterations : 132.34475412863424
Total Loss after 156 iterations : 132.40061001751815
Total Loss after 157 iterations : 131.16754648317252
Total Loss after 158 iterations : 131.09248865341726

Total Loss after 159 iterations : 131.30639094712203
Total Loss after 160 iterations : 130.11659645777985
Total Loss after 161 iterations : 132.5401729897817
Total Loss after 162 iterations : 130.70090916683955
Total Loss after 163 iterations : 131.12345724183956
Total Loss after 164 iterations : 131.91624998570802
Total Loss after 165 iterations : 131.23833564801384
Total Loss after 166 iterations : 131.94449069186658
Total Loss after 167 iterations : 130.95195038711287
Total Loss after 168 iterations : 130.27982498375084
Total Loss after 169 iterations : 133.6318563935776
Total Loss after 170 iterations : 129.77975627877248
Total Loss after 171 iterations : 131.9079651885013
Total Loss after 172 iterations : 131.1471748405882
Total Loss after 173 iterations : 130.87691493535084
Total Loss after 174 iterations : 131.47531968437556
Total Loss after 175 iterations : 131.70411347495553
Total Loss after 176 iterations : 131.7273780546641
Total Loss after 177 iterations : 130.7902577694123
Total Loss after 178 iterations : 131.3649944341837
Total Loss after 179 iterations : 130.66957619875922
Total Loss after 180 iterations : 131.32500190909326
Total Loss after 181 iterations : 130.38161430356905
Total Loss after 182 iterations : 130.96054513605145
Total Loss after 183 iterations : 130.5430180363456
Total Loss after 184 iterations : 131.9688498141885
Total Loss after 185 iterations : 130.67157361221678
Total Loss after 186 iterations : 130.15558970921768
Total Loss after 187 iterations : 129.97924623237134
Total Loss after 188 iterations : 130.78538834690198
Total Loss after 189 iterations : 130.8326870541402
Total Loss after 190 iterations : 130.8329768030755
Total Loss after 191 iterations : 129.99884529154372
Total Loss after 192 iterations : 130.22683734056056
Total Loss after 193 iterations : 129.78639296744473
Total Loss after 194 iterations : 128.93179930802978
Total Loss after 195 iterations : 130.6362169501279
Total Loss after 196 iterations : 130.1787416843977
Total Loss after 197 iterations : 131.4086790172559
Total Loss after 198 iterations : 127.98707696711844
Total Loss after 199 iterations : 130.06152590196575
Total Loss after 200 iterations : 128.46374150057315

In [12]:
# testing my model

accuracy = 0
for i in range(len(x_test)):
    y_pred = torch.sigmoid(predictor(x_test[i]))
    
    #applying threshold of 0.5
    if y_pred >0.5 :
        prediction = 1.0
    else:
        prediction = 0.0
    # checking if the prediction was correct    
    if prediction == y_test[i]:
        accuracy += 1
    
print(f"Accuracy of the model : {(accuracy*100)/500}%")

Accuracy of the model : 85.6%